.container.mx-auto.p-8
  .mx-auto.lg:max-w-sm
    = link_to root_path do
      .py-10.text-center
        = image_pack_tag 'logo.png'
        .float-right
          = render 'pages/subtitle'
    .bg-white.rounded.shadow
      .border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase
        |  Sign up 
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), input_html: {class: 'g-grey-lightest px-10 py-10'}) do |f|
        .form-inputs
          .mb-3
            = f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      input_html: {class: 'border w-full p-3'}
          .mb-6
            = f.input :password,
                      required: true,
                      input_html: { autocomplete: "nrew-password" },
                      input_html: { class: 'border w-full p-3' }
          .mb-6
            = f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "current-password" },
                      input_html: { class: 'border w-full p-3', autocomplete: "new-password" }
        .form-actions
          .flex
            = f.button :submit, "Sign up", class: 'bg-green-600 hover:bg-green-700 w-full p-4 text-sm text-white uppercase font-bold tracking-wider'
      = render "devise/shared/links"
