<svg 
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 width="242px" height="22px">
<text kerning="auto" font-family="Myriad Pro" fill="rgb(0, 0, 0)" transform="matrix( 0.73130081667137, 0, 0, 0.73130081667137,0.77806586871179, 16.8445561268377)" font-size="30px"><tspan font-size="30px" font-family="Lato" fill="#262626">keeping&#32;banking&#32;simple</tspan></text>
</svg>
