
.bg-white.rounded.shadow
  .font-bold.text-black.tracking-widest.uppercase
    |  Payment History
  = simple_form_for(@search, url: transaction_orders_path, method: :get, input_html: {class: 'g-grey-lightest px-10 py-10'}) do |f|
    .form-inputs.flex
      .mb-3.w-1/2
        = f.input :start_date, required: false, input_html: { class: 'border w-full' }
      .mb-3.w-1/2
        = f.input :end_date, required: false, input_html: { class: 'border w-full' }
    .form-actions
      .flex
        = f.button :submit, "Show", class: 'bg-green-600 hover:bg-green-700 w-full text-sm text-white uppercase font-bold tracking-wider'
= render('transaction_orders/transactions', transactions: @transactions.sort_by(&:created_at))
