.container.mx-auto.p-8
  .mx-auto.lg:max-w-sm
    = link_to root_path do
      .py-10.text-center
        = image_pack_tag 'logo.png'
        .float-right
          = render 'pages/subtitle'
    .bg-white.rounded.shadow
      .border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase
        |  Payment History
      = simple_form_for(@search, url: transaction_orders_path, method: :get, input_html: {class: 'g-grey-lightest px-10 py-10'}) do |f|
        .form-inputs
          .mb-6
            = f.input :start_date, required: false, input_html: { class: 'border w-full p-3' }
          .mb-6
            = f.input :end_date, required: false, input_html: { class: 'border w-full p-3' }
        .form-actions
          .flex
            = f.button :submit, "Show", class: 'bg-green-600 hover:bg-green-700 w-full p-4 text-sm text-white uppercase font-bold tracking-wider'
