table
  tr
    th From
    th To
    th Type
    th Amount
    th Date
    th Balance
  - (transactions || []).group_by(&:transaction_order).each do |transaction_order, connected_transactions|
    tr.border-t
      td.pr-6
        = AccountPresenter.new(transaction_order.account).name
      td.pr-6
        = AccountPresenter.new(transaction_order.to_account).name
      td[colspan="4"]
    - connected_transactions.each do |transaction|
      tr 
        td
        td
        td= transaction.transaction_type
        td[class="#{transaction.html_class} font-bold float-right px-2"]= number_with_precision(transaction.signed_amount, precision: 2)
        td= transaction.created_at.to_date
        td.float-right.font-semibold= number_with_precision(transaction.balance, precision: 2)
