.container.mx-auto.p-8
  .mx-auto.lg:max-w-sm
    = link_to root_path do
      .py-10.text-center
        = image_pack_tag 'logo.png'
        .float-right
          = render 'pages/subtitle'
    .bg-white.rounded.shadow
      .border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase
        |  Log in 
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), input_html: {class: 'g-grey-lightest px-10 py-10'}) do |f|
        .form-inputs
          .mb-3
            = f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email", class: 'border w-full p-3' }
          .mb-6
            = f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password", class: 'border w-full p-3' }
        .form-actions
          .flex
            = f.button :submit, "Log in",
                       class: 'bg-green-600 hover:bg-green-700 w-full p-4 text-sm text-white uppercase font-bold tracking-wider'
      = render "devise/shared/links"


/ .container.mx-auto.p-8
/   .mx-auto.lg:max-w-sm
/     .py-10.text-center
/       = image_pack_tag 'logo.png'
/       .float-right
/         = render 'pages/subtitle'
/     .bg-white.rounded.shadow
/       .border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase
/         |  Welcome back! 
/       form.bg-grey-lightest.px-10.py-10
/         .mb-3
/           input.border.w-full.p-3[name="email" type="text" placeholder="E-Mail"]
/         .mb-6
/           input.border.w-full.p-3[name="password" type="password" placeholder="**************"]
/         .flex
/           button.bg-primary.hover:bg-primary-dark.w-full.p-4.text-sm.text-white.uppercase.font-bold.tracking-wider
/             |  Login 
/       .border-t.px-10.py-6
/         .flex.justify-between
/           a.font-bold.text-primary.hover:text-primary-dark.no-underline[href="#"]
/             | Don't have an account?
/           a.text-grey-darkest.hover:text-black.no-underline[href="#"]
/             | Forgot Password?
