 /* app/javascript/stylesheets/application.scss */
 @import "tailwindcss/base";
 @import "tailwindcss/components";
 
 // You can add your own custom components/styles here
 
 @import "tailwindcss/utilities";

 @layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }

  .field_with_errors .error {
    @apply text-red-400;
  }
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}
