.flash-messages
  - if notice
    div[role="notice"]
      .bg-blue-500.text-white.font-bold.rounded-t.px-4.py-2
        |  Notice
      .border.border-t-0.border-blue-400.rounded-b.bg-blue-100.px-4.py-3.text-blue-700
        p
          = notice
  - if alert
    div[role="alert"]
      .bg-red-500.text-white.font-bold.rounded-t.px-4.py-2
        |  Warning
      .border.border-t-0.border-red-400.rounded-b.bg-red-100.px-4.py-3.text-red-700
        p
          = alert
