header.mb-4
div[data-controller="toggle"]
  nav.flex.flex-wrap.items-center.justify-between.px-3.py-3.text-gray-700.bg-gray-100.lg:px-10[data-controller="hello"]
    .flex.items-center.mr-6.flex-no-shrink
      = link_to root_path, class:"link text-xl tracking-tight font-semibold" do
        = image_pack_tag 'small_logo.png'
      - if user_signed_in?
        .pl-2.font-semibold
          = number_with_precision(current_user.account&.balance, precision: 2)
          span> €&nbsp;
    .block.lg:hidden
      button.flex.items-center.px-3.py-2.border.border-gray-500.rounded.text-grey.hover:text-gray-600.hover:border-gray-600[data-action="click->toggle#toggle"]
        svg.w-3.h-3.fill-current[viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"]
          title
            | Menu
          path[d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"]
    .hidden.items-center.block.w-full.text-center.lg:flex-1.lg:flex.lg:text-left[data-target="toggle.toggle"]
      .lg:flex-grow
        - if user_signed_in?
          = link_to 'Send Money', new_transaction_order_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link"
          - if current_user&.account&.transactions.present?
            = link_to 'Payment History', transaction_orders_path, class: "block mt-4 lg:inline-block lg:mt-0 lg:mr-4 mb-2 lg:mb-0 link"
      .items-center.block.w-full.mt-2.text-center.lg:flex.lg:flex-row.lg:flex-1.lg:mt-0.lg:text-left.lg:justify-end
        - if user_signed_in?
          = link_to "Edit account", edit_user_registration_path, class: "btn btn-default mb-2 lg:mr-2 lg:mb-0 block"
          = link_to "Log out", destroy_user_session_path, method: :delete, class:"btn btn-default mb-2 lg:mb-0 block"
        - else
          = link_to "Login", new_user_session_path, class:"btn btn-default mb-2 lg:mr-2 lg:mb-0 block"
          = link_to "Sign Up", new_user_registration_path, class:"btn btn-default block"
