doctype html
html
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    title
      | SimpleBank
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'layouts/header'
    = render 'layouts/flash_messages'
    = yield

