doctype html
html
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1.0"]
    meta[equiv="refresh" content="5"]
    title
      | SimpleBank
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .container.mx-auto.p-8
      .mx-auto.lg:max-w-sm
        = link_to root_path do
          .py-10.text-center
            = image_pack_tag 'logo.png'
            .float-right
              = render 'pages/subtitle'
        .bg-white.rounded.shadow
          .border-b.py-8.font-bold.text-black.text-center.text-xl.tracking-widest.uppercase
            |  Currently offline, please check back later
          = yield
